@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
body {
  background-color: #0d0e10 !important;
}

.outer {
  background-color: #0f1014;
  color: aliceblue;
  margin-top: 33px !important;
}
.movie-cover {
  width: 100%;
}
.Nomovie-cover {
  width: 100%;
  height: 270px;
}
.movie-title {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  color: #f1e5e5f5;
}
.navclr {
  background-color: #0d0d10;
  height: 90px;
}
.heading {
  color: aliceblue;
  font-family: fantasy !important;
}
.navbar-toggler-icon {
  color: aliceblue !important;
  background-color: aliceblue !important;
}
.navbar-toggler {
  background-color: #ddd9d9 !important;
}
.youtbeplayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 55;
  bottom: 0;
}

.closebtn {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 1px;
  background: #0f1014ae;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid gray;
}

.footer {
  background-color: #0d0e10;
  color: #ddd9d9;
}
.btn {
  background-color: #c50c0c !important;
  color: #ddd9d9 !important;
  border-color: #980707 !important;
}
.btn:hover {
  background-color: #792020 !important;
  border-color: #6c2c2c !important;
}
.footerText {
  text-decoration: none;
  color: #c50c0c;
}
.searchBar {
  box-shadow: 2px 2px 2px 2px #c80303a7 !important;
}
.playtbtn {
  margin: 20px 0;
  background: #0f101461;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid gray;
}
.playtbtn:hover {
  background: #0f1014;
}
.title {
  font-size: 92px;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 30px;
  font-family: "Josefin Sans", cursive;
  color: #f2f2f2;
}
.overview {
  font-size: 18px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
